{% extends 'homebase.html' %}

{% block title %} Referanslarımız-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %} 
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %} 
    <!--ANA GÖVDE-->

    <!--breadcrumb-->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">Referanslarımız</li>
            </ul>
        </div>
    </div>
    <!--/breadcrumb-->

    <!--section-->
	<div class ="section">
        <!--container-->
        <div class="container">
            <!--row-->
			<div class="row">
                {{ setting.references | safe }}
            </div>
            <!--/row-->
		</div>
        <!--/container-->
    </div>
	<!--/section-->

{% endblock %}